[submodule "native/game-music-emu"]
	path = native/game-music-emu
	url = https://github.com/libgme/game-music-emu.git
[submodule "native/libvgm"]
	path = native/libvgm
	url = https://github.com/ValleyBell/libvgm.git
[submodule "native/openmpt"]
	path = native/openmpt
	url = https://github.com/OpenMPT/openmpt.git
[submodule "native/hivelytracker"]
	path = native/hivelytracker
	url = https://github.com/pete-gordon/hivelytracker.git
[submodule "native/vgmstream"]
	path = native/vgmstream
	url = https://github.com/vgmstream/vgmstream.git
