[submodule "native/game-music-emu"]
	path = native/game-music-emu
	url = https://github.com/libgme/game-music-emu.git
[submodule "native/libvgm"]
	path = native/libvgm
	url = https://github.com/ValleyBell/libvgm.git
[submodule "native/openmpt"]
	path = native/openmpt
	url = https://github.com/OpenMPT/openmpt.git
[submodule "native/hivelytracker"]
	path = native/hivelytracker
	url = https://github.com/pete-gordon/hivelytracker.git
[submodule "native/vgmstream"]
	path = native/vgmstream
	url = https://github.com/vgmstream/vgmstream.git
[submodule "native/adplug"]
	path = native/adplug
	url = https://github.com/kode54/adplug.git
[submodule "native/libbinio"]
	path = native/libbinio
	url = https://github.com/adplug/libbinio.git
[submodule "native/libsidplayfp"]
	path = native/libsidplayfp
	url = https://github.com/kode54/libsidplayfp.git
[submodule "native/sseqplayer"]
	path = native/sseqplayer
	url = https://github.com/kode54/SSEQPlayer.git
[submodule "native/psflib"]
	path = native/psflib
	url = https://github.com/kode54/psflib.git
[submodule "native/mgba"]
	path = native/mgba
	url = https://github.com/kode54/mgba.git
[submodule "native/highly-quixotic"]
	path = native/highly-quixotic
	url = https://github.com/kode54/Highly_Quixotic.git
[submodule "native/highly-theoretical"]
	path = native/highly-theoretical
	url = https://github.com/kode54/Highly_Theoretical.git
[submodule "native/lazyusf2"]
	path = native/lazyusf2
	url = https://bitbucket.org/losnoco/lazyusf2.git
[submodule "native/libupse"]
	path = native/libupse
	url = https://github.com/kode54/libupse.git
